@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--Callout -->
<div class="row">
    <div class="col-lg text-center bg-light">
        <h2>Creation Catalogue</h2>
        <br />
        <h4>Have you wondered? </h4>
        <h6>Where can I get information about specific characteristics of animals, plants and the world around me?</h6>
    </div>
</div>

<!-- Features of Web app -->
<div class="row">
    <div class="col">

    </div>
    <div class="col">
        
    </div>
</div>
